.agendamento{
text-align: center;
}
.link{
    text-align: center;
}
.icones{
    text-align: center;
}
.ion-page{
    text-align: center;
}
.icone{
    --background: #ffffff;
    --border-radius: 50%;
    --box-shadow: none;
  
  
    ion-icon {
      font-size: 45px;
      color: #ffffff;
    }
  }
