<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title class = "ion-text-center">
      ClassCalendar
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-grid>
    <div>
      <h1 class = "ion-text-center">Login</h1>
    </div>
    <div>
      <ion-textarea>CPF</ion-textarea>
      <ion-textarea>SENHA</ion-textarea>
      <a href="">Esqueceu a senha</a>
      <ion-button> Entrar </ion-button>
    </div>
  </ion-grid>
</ion-content>
